//dates parallax

#alldates {
   display: block;
}

.date {

   &__wrapper {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 250px;

      &:nth-child(1) {
         top: 5%;
      }

      &:nth-child(2) {
         top: 11%;
      }

      &:nth-child(3) {
         top: 17%;
      }

      &:nth-child(4) {
         top: 30%;
      }

      &:nth-child(5) {
         top: 43%;
      }

      &:nth-child(6) {
         top: 55%;
      }

      &:nth-child(7) {
         top: 67%;
      }

      &:nth-child(8) {
         top: 78%;
      }

      &:nth-child(9) {
         top: 89.5%;
         z-index: 9;
      }





      .line {
         height: 1px;
         width: 100%;
         background-color: rgba(0,0,0,0.3);
         display: block;
         position: absolute;
         top: 50%;
      }

      &--number {
         font-family: "proxima-nova",sans-serif;
         font-style: italic;
         font-weight: 900;

         color: #dddddd;
         font-size: 160px;
         position: absolute;
         bottom: 0px;
         left: 0;
         width: 100%;
         text-indent: 5%;
         text-shadow: 6px 0 0 #fff, -6px 0 0 #fff, 0 6px 0 #fff, 0 -6px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

         &.right {
            text-align: right;
            direction: rtl;
         }


      }

      &--quote {

          width: 50%;
          font-size: 1.5rem;
          font-family: "proxima-nova",sans-serif;
          font-style: italic;
          font-weight: 300;
          margin-top: 0px;
          text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
         position: absolute;
         z-index: 2;
         // background-color: white;
         // padding: 10px;


         // span.white {
         //    background-color: white;
         // }

          &.txtright {
             margin-left: 43%;
             text-align: left;
          }

          &.txtleft {
             margin-left: 9%;
             text-align: right;
          }
      }

   }


}
