//footer finish

.titletype.finish {
   display:table;

   .titletype--parent {
      display:table-cell;
      vertical-align:bottom;

      .parallaxParent {
         display: block;
         height: 767px;
      }
   }

   &__wrapper {
      position: absolute;
      bottom: 0px;
      width: 100%;
   }

}

.finish {
   width: 100%;
   height: 890px;
   background: black url(../img/checkered-start.png) top left repeat;
   position: absolute;
   bottom: 0px;
   z-index: 2;
   overflow: hidden;
}

.extracontent {
    font-size: 1.5rem;
    font-family: "proxima-nova",sans-serif;
    color: black;
    font-style: italic;
    text-align: right;
    line-height: 27px;

    &.red {
      color: #A7141F;
      font-size: 1.5rem;
      margin-top: 38px;
   }

    a {
      color: #A7141F;
   }
}
