//fireworks
.fireworks {

   &__wrapper {
      top: 35%;
      width: 35%;

      img {

         &:first-child {
            margin-top: 30px;
         }
      }
   }

}

.stadium {
   position: absolute;
   bottom: -260px;
   width: 100%;
}

.lightburst {
   position: absolute;
   bottom: -200px;
   width: 100%;
   padding: 0px 26% 0px 23%;
}

.podium {
   position: absolute;
   bottom: -260px;
   width: 100%;
   padding: 0px 15%;
}

.carfirst {
   position: absolute;
   bottom: -127px;
   width: 100%;
   padding: 0px 38%;
}

.bgcars {
   position: absolute;
   bottom: -190px;
   width: 100%;
   padding: 0px 15%;
}

.finish {

   .titletype__wrapper {
      top: 40%;
   }

   .left {

      img {
         float: right;
      }

   }

   .right {

      img {
         float: left;
      }

   }

}
