
@font-face {
  font-family: 'galaxie-light';
  src: url('../fonts/GalaxiePolaris-Light.eot');
  src: local('☺'), url('../fonts/GalaxiePolaris-Light.ttf') format('truetype'), url('../fonts/GalaxiePolaris-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'galaxie-bold';
  src: url('../fonts/GalaxiePolaris-Bold.eot');
  src: local('☺'), url('../fonts/GalaxiePolaris-Bold.ttf') format('truetype'), url('../fonts/GalaxiePolaris-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-book';
  src: url('../fonts/GalaxiePolaris-Book.eot');
  src: local('☺'), url('../fonts/GalaxiePolaris-Book.ttf') format('truetype'), url('../fonts/GalaxiePolaris-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'galaxie-medium';
  src: url('../fonts/GalaxiePolaris-Medium.eot');
  src: local('☺'), url('../fonts/GalaxiePolaris-Medium.ttf') format('truetype'), url('../fonts/GalaxiePolaris-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
	font-family: 'galaxie-light';
}

p, aside {
	font-family: 'galaxie-book';
}

a {
	font-family: 'galaxie-bold';
}
