//header styles
.titletype {

   &__wrapper {
      position: absolute;
      top: 0px;
      width: 100%;

      &--img {
         width: 650px;
         height: 300px;
         border-radius: 50px;
         background-color: transparent;
         margin: 120px auto;
      }

   }

}

.header {
   width: 100%;
   height: 890px;
   background: black url(../img/checkered-start.png) bottom left repeat;
   position: absolute;
   top: 0px;
   z-index: 2;
   overflow: hidden;
   box-shadow: inset 0px 0px 25px rgba(0,0,0,0.5);
}

.gifwrapper {
   position: absolute;
   bottom: 280px;
   display: none;
   width: 100%;

   .flash {
      position: absolute;
      height: 30px;
      width: 30px;
      background-color: transparent;
      display: none;

      &.current {
         display: block;
      }
   }

   .area-left {
      width: 30%;
      position: relative;
      height: 100px;
      float: left;
   }

   .area-right {
      width: 30%;
      position: relative;
      height: 100px;
      float: right;
   }
}
