//main styles

.main {

   width: 100%;
   height: 22000px;
   display: block;
   position: relative;
   z-index: 5;
   overflow-x: hidden;
   overflow-y: hidden;

}


.left-off-canvas-menu {

}


// #scrollwrapper {
//    overflow: hidden;
// }


.starttext {

   &__wrapper {

      top: 4%;
      position: absolute;
      width: 100%;

      img {
         width: 900px;
         position: absolute;
         left: -900px;
      }

   }

}


.inselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.finishtext {

   &__wrapper {

      bottom: 9.5%;
      position: absolute;
      width: 100%;

      img {
         width: 900px;
         position: absolute;
         left: -900px;
      }

   }

}
