//parallax styles

.parallaxParent {
	height: 773px;
	overflow: hidden;
}
.parallaxParent > * {
	height: 200%;
	position: relative;
	top: -100%;
}

.triangle {
	.parallaxParent > * {
		background-size: 50%;
	}

	.parallaxParent {
		height: 1000px;
	}
}
