//responsive styles

//text thickening for Safari

.safari {
   .videogames__container--txt p {
     font-family: arial, sans-serif;
     -webkit-text-stroke: 0.5px;
  }

  .videogames__container--txt p.title {
     font-family: 'galaxie-book';
  }

  .date__wrapper--quote {
     font-family: 'galaxie-bold';
  }
}

.content_xtra.show-for-small {
   display: none!important;
}

// Small screens

@media only screen and (max-width: 40em) {

   .content_xtra.show-for-small {
      display: block!important;
   }

   .safari {
      .videogames__container--txt p {
        font-family: 'galaxie-book';
        -webkit-text-stroke: 0.5px;
     }

     .videogames__container--txt p.title {
        font-family: 'galaxie-book';
     }

     .date__wrapper--quote {
        font-family: "proxima-nova",sans-serif;
     }
   }

   .main {
      height: 19800px;
   }

   //--------REMOVE!!
   #scrollwrapper {
      overflow: scroll;
   }


   .videogames__container:nth-child(1) {
    top: 0.8%;
   }

   .videogames__container {
      position: relative;
      left: 0px!important;
      width: 93%;
      margin: 3%;

      display: none; //--------REMOVE!!

      &.featured {
         min-height: auto;
         width: 94%;
         display: block;
         top: 0;
         left: 0;

         .videogames__container--img {
            margin: auto;
            width: 100%;
         }

         .videogames__container--txt {
            width: 100%;

            p {
               font-size: 14px;
            }
         }
      }

      &--img {
         display: inline-block;
         float: none;
         vertical-align: top;
         width: 30%;
      }

      &--txt {
         display: inline-block;
         float: none;
         width: 60%;
      }
   }

   .videogames {
      top: 700px;
   }


   .videogames__container:nth-child(2) {
      margin-top: 10px;
   }

   #alldates {
      display: none;
   }

   .date__wrapper:nth-child(2) {
     top: 13%;
   }

   .date__wrapper:nth-child(3) {
     top: 23.2%;
   }

   .date__wrapper:nth-child(4) {
     top: 32.5%;
   }

   .date__wrapper:nth-child(5) {
     top: 43.2%;
   }

   .date__wrapper:nth-child(6) {
     top: 53.2%;
   }

   .date__wrapper:nth-child(7) {
     top: 63.2%;
   }

   .date__wrapper:nth-child(8) {
     top: 73.2%;
   }

   .date__wrapper {
      position: relative;
      top: 0!important;
      height: 200px;

      &.date-move-1 {
         //margin-top: 250px;
      }
   }


   .console {
      display: none;
   }


   .titletype__wrapper--img {
      width: 120%;
      margin: 120px auto 0px;
      height: auto;
      margin-left: -10%;
   }

   .header {
      height: 660px;
      background-size: 23%;

      .headercar__wrapper {
         bottom: 80px;
      }
   }

   .parallaxParent {
      height: 612px;
   }

   .starttext__wrapper {
      top: 0;
      margin-top: 674px;

    img {
      left: 0px;
      width: 100%;
    }
   }

   .date__wrapper--number {
      text-align: center;
      font-size: 100px;
      text-indent: 0px;

      &.right {
         text-align: center;
         font-size: 100px;
         text-indent: 0px;
      }
   }

   .date__wrapper:nth-child(1) {
    top: 3%;
   }

   .date__wrapper--quote.txtright, .date__wrapper--quote.txtleft {
       margin-left: 0%;
       margin-right: 0%;
       text-align: center;
       width: 100%;
       font-size: 1rem;
       line-height: 27px;
       padding: 7%;
       margin-top: 40%;
  }

  .date__wrapper--quote {
   margin-left: 0%;
   text-align: center;
   width: 100%;
   font-size: 1.1rem;
   line-height: 27px;
   padding: 7%;
   margin-top: 51%;
   text-shadow: none;
   }


   .gamecarousel  {
      display: block;
   }

   //bottom section

   .finish {
      height: 500px;
      background-size: 23%;
   }

   .podium {
      padding: 0px 3%;
      bottom: 0px;
   }

   .bgcars {
       bottom: 27px;
       padding: 0px 5%;
   }

   .carfirst {
       bottom: 55px;
       padding: 0px 31%;
   }

   .stadium {
       position: absolute;
       bottom: 0px;
       width: 100%;
   }

   .lightburst {
       position: absolute;
       bottom: 0px;
       width: 100%;
       padding: 0px 0% 0px 0%;
   }

   .titletype.finish .titletype--parent .parallaxParent {
       display: block;
       height: 450px;
   }

   .finishline-wrapper {
      bottom: 295px;
   }


   /**ads**/
   .aim {
      display: none;
   }

   #videoGamesWrapper .aim {
      display: block;
   }

   .aim__wrapper--first {
       position: relative;
       top: 0px;
       margin: 20px auto;
       width: 300px;
       left: 0;

   }

   /**end ads**/



   .test {
      display: none;
   }

   #videoGamesWrapper .test {
      display: block;
   }

   #sidewaysrtltarget {
      position: relative;
      top: 0px;
      right: 0px;
      height: 150px;
      margin-left: 227px;
      margin-top: 70px;
   }


   #leftskid {
      position: relative;
      top: 0px;
      right: 0px;
      height: 50px;
      margin-left: 227px;
      margin-top: 221px;
      left: -125px;

      .test__wrapper--block:nth-child(3) {
          margin-top: 75px;
          width: 230px;
          left: 7px;
      }
   }



   #wigglewrapper {
      position: relative;
       top: 0px;
       right: 0px;
       height: 150px;
       margin-left: 50px;
       margin-top: 70px;
       margin-bottom: 60px;

       .test__wrapper--block:nth-child(1) {
          margin-top: 0px;
          width: 600px;
          left: -200px;
          margin-left: 0px;
      }

      .test__wrapper--block:nth-child(2) {
          margin-top: -80px;
          width: 970px;
          right: -450px;
          margin-left: 0px;
      }
   }

   #sidewaysrtltarget .test__wrapper--block:nth-child(4) {
       margin-top: -12px;
       width: 400px;
       opacity: 1;
       right: 4%;
       z-index: 1;
   }

   #featured_5 {
       top: 0;
       left: 0;
       position: relative;
   }

   .starttext__wrapper {
      position: relative;
      margin-top: 30px;
   }

   .header {
      position: relative;
   }

   .videogames {
      position: relative;
      top: 30px;
   }

   .main {
      position: relative;
      height: auto;
   }

   .finishline-wrapper {
      position: relative;
   }

   .videogames__container.empty .videogames__container--txt p.title {
      color: white;
      float: left;
   }

   .videogames__container.empty .videogames__container--txt span.date {
      float: right;
   }

   .finishtext__wrapper {
       position: relative;
       width: 100%;
       bottom: 0;
   }

   .finishtext__wrapper img {
       width: 100%;
       position: relative;
       left: 0;
       margin-top: 185px;
   }

   .triangle__wrapper {
      display: none;
   }

   .videogames__container.featured .videogames__container--txt span.date {
         width: 100%;
   }


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

   .date__wrapper--quote {
      font-size: 1.3rem;
   }

   .date__wrapper--number {
      font-size: 145px;
   }

   .starttext__wrapper img, .finishtext__wrapper img {
       width: 100%;
       position: absolute;
       left: 0px;
       padding: 3% 10%;
   }

   .videogames__container.featured .videogames__container--txt {
       width: 330px;
   }

   .videogames__container.featured {
      width: 600px;
   }

   .videogames__container {
      width: 360px;
   }

   .videogames__container--img {
      width: 110px;
   }

   .videogames__container--txt {
      width: 210px;
   }

   .videogames__container:nth-child(1) {
       top: 1.7%;
   }

   .console__wrapper.console2 {
       top: 19%;
   }

   .triangle__wrapper.tri_two {
       left: -145px;
   }

   .videogames__container:nth-child(9) {
       top: 9%;
       left: 3%;
   }

   #sidewaysrtltarget {
       position: absolute;
       top: 14%;
       right: -810px;
   }

   #sidewaysrtltarget .test__wrapper--block:nth-child(4) {
      right: 65%;
      opacity: 1;
   }

   #sidewaysltrtarget {
       position: absolute;
       top: 24.5%;
       left: 50%;
   }

   #sidewaysltrtarget .test__wrapper--block:nth-child(4) {
       opacity: 1;
       left: -35%;
   }

   .console__wrapper.console4 {
       top: 26%;
       left: 16%;
   }

   .videogames__container:nth-child(29) {
       top: 26.5%;
       left: 1%;
   }

   .videogames__container:nth-child(31) {
       top: 28.9%;
       left: 18%;
   }

   .aim__wrapper--second {
       top: 32.1%;
       left: 9%;
   }

   .videogames__container:nth-child(37) {
       top: 32.6%;
       left: 40%;
   }

   #leftskid {
       position: absolute;
       top: 36.7%;
       left: 75px;
   }

   .videogames__container:nth-child(42) {
       top: 36.1%;
       left: 40%;
   }

   .videogames__container:nth-child(41) {
       top: 37.1%;
       left: 58%;
   }

   .console__wrapper.console8 {
       top: 46.1%;
       left: -21%;
   }

   #featured_5 {
       top: 45.3%;
       left: 40%;
       position: absolute;
   }

   .videogames__container:nth-child(63) {
       top: 56.2%;
       left: 24%;
   }

   .videogames__container:nth-child(65) {
       top: 57.4%;
       left: 61%;
   }

   .videogames__container:nth-child(66) {
       top: 57.5%;
       left: 10%;
   }

   .videogames__container:nth-child(79) {
       top: 67%;
       left: 41%;
   }

   .videogames__container:nth-child(77) {
       top: 65.9%;
       left: 60%;
   }

   .videogames__container:nth-child(81) {
       top: 70.5%;
       left: 14%;
   }

   .videogames__container:nth-child(96) {
       top: 86.3%;
       left: 3%;
   }

   .videogames__container:nth-child(97) {
       top: 86.9%;
       left: 40%;
   }

   .triangleblock4 {
      margin-left: -1px;
   }

   .triangle__wrapper.tri_nine {
      right: -125px;
   }

   .console__wrapper.console7 {
       top: 83.5%;
       left: 21%;
       z-index: 9;
   }

   .console__wrapper.console5 {
       top: 48.3%;
       left: 22%;
   }

   .stadium, .podium {
      bottom: 0px;
   }

   .lightburst {
      bottom: 165px;
   }

   .bgcars {
      bottom: 55px;
      padding: 0px 18%;
   }

   .carfirst {
      bottom: 105px;
   }

   .footercar__wrapper {
      bottom: 250px;
   }

   .footercar__wrapper .test__wrapper--block#carfinish_4 {
      margin-top: 150px;
   }

   .footercar__wrapper .test__wrapper--block:nth-child(3) {
      margin-top: 90px;
   }

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */
