//skids

.skidmark {

   &__wrapper {

      top: 7.2%;
      position: absolute;
      width: 100%;
      left: 0;

      &:nth-child(1) {
         top: 6.8%;
      }

      &:nth-child(2) {
         top: 7.8%;
         left: 40%;
      }

      &:nth-child(3) {

      }

      &:nth-child(4) {

      }

      img {
         width: 500px;
         opacity: 0;
      }

   }

}


.console {

   &__wrapper {

      top: 20%;
      position: absolute;
      width: 100%;
      left: 21%;

      img {
         width: 1000px;
         position: absolute;
      }

      &.console1 {
         top: 7.7%;
         left: 40%;
      }


      &.console2 {
         top: 18%;
         left: 38%;
      }


      &.console3 {
         top: 31.5%;
         left: 3%;
      }


      &.console4 {
         top: 25.5%;
         left: 36%;
      }


      &.console5 {
         top: 47.5%;
         left: 22%;
      }


      &.console6 {
         top: 39.5%;
         left: 36%;
      }

      &.console7 {
         top: 82.5%;
         left: 32%;
      }

      &.console8 {
         top: 52.5%;
         left: -21%;
      }

      &.console9 {
         top: 57.5%;
         left: 17%;
      }

      &.console10 {
         top: 62.5%;
         left: -7%;
      }

      &.console11 {
         top: 85.5%;
         left: -22%;
      }
   }

}



.aim {

   &__wrapper {
      position: absolute;
      width: 300px;
      z-index: 99999;

      &--first {
         top: 7.4%;
         left: 7%;
      }

      &--second {
         top: 31.2%;
         left: 37%;
      }

      &--third {
         top: 73.5%;
         left: 6%;
      }

   }

}
