//test styles
#videoGamesWrapper .test {
   display: none;
}


.test {

   &__wrapper {

      height: 1000px;
      width: 100%;

      &--block {
         background-color: transparent;
         height: 115px;
         width: 50px;
         margin-left: -200px;
      }

   }

}

#rtlCarTarget {

   position: absolute;
   top: 22%;
   right: -300px;

   .test__wrapper--block {

      float: right;
      margin-left: 60px;

   }

}



#leftskid {

   position: absolute;
   top: 46.5%;
   left: -300px;

   .test__wrapper--block {
      position: absolute;

      &:nth-child(1) {
         margin-top: -140px;
         width: 1000px;
         left: -1000px;
      }

      &:nth-child(3) {
         margin-top: 75px;
         width: 250px;
         left: -400px;
      }

      &:nth-child(2) {
         margin-top: 62px;
         width: 900px;
         left: -400px;
      }

   }

}


#explosionwrapper {

   position: absolute;
   top: 62%;
   left: 0;

   .test__wrapper--block {
      position: absolute;

      &:nth-child(1) {
         margin-top: 0px;
         width: 250px;
         left: -400px;
      }

      &:nth-child(2) {
         margin-top: 0px;
         width: 250px;
         right: -400px;
      }

      &:nth-child(3) {
         margin-top: -130px;
         width: 350px;
         left: 850px;
      }

      &:nth-child(4) {
         margin-top: -130px;
         width: 350px;
         left: 850px;
      }

   }

}

#explosionpng {
   opacity: 0;
}

#explosion {
   display: none;
}


#sidewaysrtltarget {

   position: absolute;
   top: 14%;
   right: -500px;

   .test__wrapper--block {

      width: 300px;
      position: absolute;
      z-index: 9;

      &:nth-child(1) {
         margin-top: 0px;
         width: 200px;
      }

      &:nth-child(2) {
         margin-top: 25px;
         width: 250px;
      }

      &:nth-child(3) {
         margin-top: 70px;
         width: 300px;
      }

      &:nth-child(4) {
         margin-top: -85px;
         width: 800px;
         opacity: 0;
         right: 28%;
         z-index: 1;
      }

   }

}


#wigglewrapper {


      position: absolute;
      top: 76.1%;
      width: 100%;

      .test__wrapper--block {

         position: absolute;
         z-index: 9;

         &:nth-child(1) {
            margin-top: 70px;
            width: 700px;
            left: -400px;
            margin-left: 0px;
         }

         &:nth-child(2) {
            margin-top: 0px;
            width: 1000px;
            right: -650px;
            margin-left: 0px;
         }

         &:nth-child(3) {
            width: 350px;
            left: 50%;
            margin-top: 12%;
         }


      }

}


#sidewaysltrtarget {

   position: absolute;
   top: 37%;
   left: -500px;

   .test__wrapper--block {

      width: 300px;
      position: absolute;
      z-index: 9;

      &:nth-child(1) {
         margin-top: 0px;
         width: 200px;
      }

      &:nth-child(2) {
         margin-top: 25px;
         width: 250px;
      }

      &:nth-child(3) {
         margin-top: 70px;
         width: 300px;
      }

      &:nth-child(4) {
         margin-top: -85px;
         width: 800px;
         opacity: 0;
         left: 38%;
         z-index: 1;
      }

   }

}


.header {

   .test__wrapper--block {
      margin: auto;
      float: left;
      margin-right: 25px;

      &:last-child {
         margin-right: 0px;
      }

      &:nth-child(2) {
         margin-top: 25px;
      }

      &:nth-child(4) {
         margin-top: 25px;
      }

      &:nth-child(3) {
         margin-top: 40px;
      }
   }

}

.headercar__wrapper {
   width: 360px;
   left: 50%;
   margin: auto;
   margin-left: -180px;
   position: absolute;
   bottom: 200px;
}

.finishline-wrapper {
   width: 100%;
   height: 600px;
   position: absolute;
   bottom: 767px;
   z-index: 9;
}

.finishline-hiddenoverflow {
   position: relative;
   height: 100%;
   width: 100%;
   display: block;
   overflow: hidden;
}

.footercar__wrapper {
   width: 360px;
   left: 50%;
   margin: auto;
   margin-left: -180px;
   position: absolute;
   bottom: 440px;
   z-index: 999;

   .test__wrapper--block {
      margin: auto;
      float: left;
      margin-right: 25px;

      &:last-child {
         margin-right: 0px;
      }

      &:nth-child(2) {
         margin-top: 25px;
      }

      &:nth-child(4) {
         margin-top: 25px;
      }

      &:nth-child(3) {
         margin-top: 40px;
      }
   }
}

.spacer {
   min-height: 300px;
}

#car_1 {
}
#car_2 {
}
#car_3 {
}
// #car_4 {
//    background-color: blue;
// }
// #car_5 {
//    background-color: green;
// }
// #car_6 {
//    background-color: yellow;
// }
