//triangles
.triangle__wrapper {
   position: absolute;
   top: 1500px;

   &.tri_two {
      top: 4000px;
   }

   &.tri_three {
      top: 4650px;
      right: 0px;
      z-index: 0;

      .triangle {
         width: 750px;
      }
   }

   &.tri_four {
      top: 11150px;
      right: 0px;
      z-index: 0;

      .triangle {
         width: 750px;
      }
   }

   &.tri_five {
      top: 15500px;
      left:0px;
   }

   &.tri_six {
      top: 15800px;
      right:0px;
   }

   &.tri_seven {
      top: 17700px;
      left: -100px;
   }

   &.tri_eight {
      top: 19570px;
      right: 0px;
   }

   &.tri_nine {
      top: 14800px;
      right: -100px;
   }
}

.triangle {
   height: 1000px;
   width: 600px;
   background-color: #459FD9;
}

.triangleblock1 {
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 0 1000px 200px 0;
   border-color: transparent #ffffff transparent transparent;
   position: absolute;
   top: 0px;
   z-index: 2;
}

.triangleblock2 {
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 0 0 1000px 600px;
   border-color: transparent transparent #ffffff transparent;
   position: absolute;
   top: 0px;
   z-index: 2;
}

.triangleblock3 {
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 300px 1000px 0 0;
   border-color: #ffffff transparent transparent transparent;
   position: absolute;
   top: 0px;
   z-index: 2;
}

.triangleblock4 {
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 1300px 0 0 1000px;
   border-color: transparent transparent transparent #ffffff;
   position: absolute;
   top: 0px;
   z-index: 2;
}


a {
   color: #36A1D9;
}


.dragdown {

   opacity: 0;
   position: absolute;
   width: 100%;
   z-index: 99999!important;
   height: 270px;
   width: 400px;
   background-color: rgba(0, 0, 0, 0.85);
   border-radius: 10px;
   padding: 0;
   position: absolute;
   z-index: 999;
   top: 0.8%;
   left: 50%;
   margin-left: -200px;

   &__wrapper {


      p {
         color: white;
         text-transform: uppercase;
         font-family: 'galaxie-bold';
         text-align: center;
         letter-spacing: 2px;
         margin-top: 15px;
         font-size: 0.8rem;

         &:first-child {
            margin-top: 25px;
         }

      }


      img {
         display: block;
         margin: auto;
         width: 160px;
         margin-top: 35px;
      }


      ul {
         list-style: none;
         margin-left: 25px;
         margin-top: 30px;

         li {
            float: left;

            &:first-child {
               margin-right: 10px;
            }

            a {
               background-color: white;
               color: black;
               border-radius: 3px;
               padding: 5px 10px;
               text-transform: uppercase;
               font-size: 0.7rem;
               letter-spacing: 1px;
               font-family: 'galaxie-bold';
               cursor: pointer;
            }
         }
      }
   }

}
